<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>📬Letter List</title>
  </head>
  
  <body style="background-color: rgb(163, 211, 241); font-family: Arial;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/lab-4/add-note">📊Add Notes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/lab-4">📊Letter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/lab-4/note-list">📊Note List</a>
                </li>
          </ul>
        </div>
      </div>
    </nav>

    <h1 style="color:rgb(4, 11, 97); ">📦Note List📦</h1>
    <style>
        #body {
            align-items: center;
            display: flex;
            justify-content: center;
            text-align: left;
          }
    </style>
    <div id="body">
        {%for i in new_note%}
        <div class="card me-5" style="width: 15rem;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>To</strong>: {{i.to}}</li>
              <li class="list-group-item"><strong>From</strong>: {{i.From}}</li>
              <li class="list-group-item"><strong>Title</strong>: {{i.title}}</li>
              <li class="list-group-item"><strong>Message</strong>: {{i.message}}</li>
            </ul>
        </div>
        {%endfor%}
    </div>
</body>
