<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>📬Add Notes</title>
  </head>

  <body style="background-color: rgb(163, 211, 241); font-family: Arial;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/lab-4/add-note">📊Add Notes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/lab-4">📊Letter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/lab-4/note-list">📊Note List</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  <body style="background-color: rgb(163, 211, 241); color:rgb(4, 11, 97); font-family: Arial;">
    <form action="" method=POST>
        {% csrf_token %}
        <h1 style="color:rgb(4, 11, 97);">📘Add Notes📘</h1>
        <table>{{form}}</table>
        <br>
        <input type="submit" value="Submit">
        <br>
    </form>
  </body>
</html>