<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Letter</title>
  </head>
  <body>

    <table>
    {% for i in new_note %}
    <tr>
        <td><strong>To:</strong> {{ i.to }}</td>
    </tr>
    <tr>
        <td><strong>From:</strong> {{ i.From }}</td>
    </tr>
    <tr>
        <td><strong>Title:</strong> {{ i.title }}</td>
    </tr>
    <tr>
        <td><strong>Message:</strong> {{ i.message }}</td>
        
    </tr>
    {% endfor %}
    </table>
  </body>
</html>